@media screen and (max-width:340px){
    .section__article{    
        background-color: whitesmoke;
        height: calc(100vh - 25px);      
        transition: all 0.25s;
        display:flex;
        flex-wrap:wrap;
        margin:auto;
        .article__section{
        width:65%;
        margin: auto;  
            .img__article{
                width:80%;        
            }
        }
    }
    
    
    .section__article--second{
        background-color: black;
        height: calc(100vh - 25px);
        text-align: center;   
        transition: all 0.25s;
        .section__icon{
        margin-top: 5px;
           justify-content: center;
           display: flex;
           flex-wrap: wrap;
           margin: 0 -15px 0 -15px; 
        }

    }
    
}